* {
    margin: 0;
    padding: 0;
}

.main-section {
    width: 100vw;
    height: 100vh;
    max-width: 1980px;
    margin: 0 auto;
    background-color: #0b0125;
}

h1 {
    font: 3rem Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
}

.img-sites {
    width: 450px;
    height: 250px;
    margin: 5px;
    transition: .3s;
    cursor: pointer;
}

.img-sites:hover {
    transform: scale(1.02);
}