@use '../../utils/variables' as vb;
@use '../../utils/mixins' as mx;

.main-banner {
    width: 100vw;
    max-width: 1920px;
    height: calc(100vh - 250px);
    max-height: 920px;
    margin: 0 auto 15px;
    @include mx.flexDisplay(center, center);
    position: relative;
    

    img {
        width: 90%;
        height: 100%;
    }

    .image-banner {
        display: none;
    }

    .image-banner.image-0.active {
        display: block;
    }
    .image-banner.image-2.active {
        display: block;
    }
    .image-banner.image-1.active {
        display: block;
    }

    .wrapper-legend {
        position: absolute;
        bottom: 100px;
        right: 200px;
        @include mx.flexDisplay(center, center);
        flex-direction: column;

        p {
            @include mx.fontDefault(1.5rem);
            color: vb.$white-default;
            margin-bottom: 20px;
            text-align: center;
        }
        span {
            padding: 20px;
            @include mx.fontBold(1.5rem);
            border: 2px solid vb.$white-default;
            color: vb.$white-default;
            transition: .5s;
            cursor: pointer;

            &:hover {
                opacity: 50%;
            }
        }
    }
    
    

    .wrapper-pages-indication {
        position: absolute;
        width: 40px;
        @include mx.flexDisplay(space-between, center);
        bottom: 10px;
        z-index: 10;

        .circle {
            width: 10px;
            height: 10px;
            background-color: vb.$white-default;
            opacity: 50%;
            border-radius: 50%;
        }

        .circle.page-0.fill {
            background-color: vb.$white-default;
            opacity: 100%;
        }
        .circle.page-1.fill {
            background-color: vb.$white-default;
            opacity: 100%;
        }
        .circle.page-2.fill {
            background-color: vb.$white-default;
            opacity: 100%;
        }
    }
    

    nav {
        width: 30px;
        height: 30px;
        border-bottom: 5px solid vb.$black-default;
        border-right: 5px solid vb.$black-default;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        cursor: pointer;

        &:hover {
            opacity: 70%;
        }
    }

    .previous-arrow {
        left: 35px;
        transform: rotate(135deg);
    }

    .next-arrow {
        right: 35px;
        transform: rotate(-45deg);
    }
}