@use '../../utils/variables' as vb;
@use '../../utils/mixins' as mx;

.main-header {
    background-color: vb.$white-default;
    width: 100vw;
    max-width: 1920px;
    padding: 3px 15px;
    margin: 0 auto 15px;
    position: relative;
    @include mx.flexDisplay(space-around, center);
    @include mx.fontDefault(1.1rem);

    h2 {
        @include mx.fontTitle(2rem, bold);
    }

    nav {
        @include mx.flexDisplay(center, center);

        ul {
            display: inline-flex;
            margin: 0;
            padding: 0 30px;

            li {
                list-style-type: none;
                padding: 3px 10px;

                a {
                    color: vb.$black-default;
                    text-decoration: none;
                } 

                .dropdown-menu-container {
                    display: none;
                    background-color: vb.$white-default;
                    position: absolute;
                    top: 42px;
                    left: 0;
                    z-index: 11;
                    width: 100vw;
                    padding: 50px 100px;

                    img {
                        width: 300px;
                        height: 300px;
                    }

                    .wrapper-products {
                        @include mx.flexDisplay(space-around, start);
                        width: 50%;
                    }

                    .wrapper-lancamentos {
                        ul {
                            display: block;
                            padding: 10px;
                            color: vb.$red-promo;
                            font-weight: bold;
                            
                            li {
                                padding: 10px;
                                font-weight: normal;
                            }
                        }
                    }

                    .wrapper-roupas {
                        ul {
                            display: block;
                            padding: 10px;
                            color: vb.$red-promo;
                            font-weight: bold;
                            
                            li {
                                padding: 10px;
                                font-weight: normal;
                            }
                        }
                    }

                    .wrapper-calcados {
                        ul {
                            display: block;
                            padding: 10px;
                            color: vb.$red-promo;
                            font-weight: bold;
                            
                            li {
                                padding: 10px;
                                font-weight: normal;
                            }
                        }
                    }
                }

                &:hover div{
                    @include mx.flexDisplay(space-around, start)
                }
            }   
        }
    }

    .search-box {
        padding: 5px 15px;
        border-bottom: 1px solid vb.$black-default;

        input {
            border: none;
            background-color: vb.$white-default;
            color: vb.$black-low-opacity;
            width: 160px;
            outline: none;
            @include mx.fontDefault(1rem)
        }
    }

}   