@use '../../../utils/variables' as vb;
@use '../../../utils/mixins' as mx;

.section-banner {
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    max-height: 1080px;
    background-color: red;
    position: relative;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

.content-texts {
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: vb.$black-low;
    z-index: 5;
    right: 0px;
    top: 300px;
    padding: 20px;
    @include mx.flexDisplay();
    flex-direction: column;
    overflow: hidden;
}

.content-texts h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    color: vb.$white-primary;
}

.content-texts p {
    margin-bottom: 6px;
    text-align: center;
}

.content-texts div:nth-of-type(1) {
    transform: translateX(-950px);
    animation: slideToRight 1s forwards;
}

.content-texts div:nth-of-type(2) {
    transform: translateX(950px);
    animation: slideToLeft 1s forwards;
    animation-delay: .8s;
}

.content-texts div:nth-of-type(3) {
    transform: translateX(-950px);
    animation: slideToRight 1s forwards;
    animation-delay: 1.3s;
}


@keyframes slideToRight {
    to {
        transform: translateX(0);
    }
}

@keyframes slideToLeft {
    to {
        transform: translateX(0);
    }
}

@media (max-width: 840px) {
    .content-texts {
        width: 80%;
    }
}

