@use '../../utils/variables' as vb;
@use '../../utils/mixins' as mx;

.main-products {
    width: 100%;
    max-width: 1920px;
    height: calc(100vh - 250px);
    max-height: 920px;
    margin: 0 auto;
    @include mx.flexDisplay(center, center);
    position: relative;

    img {
        width: 90%;
        height: 100%;
    }

    .cardPromo {
        position: absolute;
        top: 100px;
        right:300px;
        z-index: 10;

        p {
            display: flex;
            @include mx.fontDefault(1.4rem);
            width: 100px;
            margin: 0 auto;
            padding: 5px 10px;
            background-color: vb.$golden-default;
        }

        h2 {
            @include mx.fontBold(2.5rem);
            color: vb.$white-default;
            text-align: center;
            
            span {
                color: vb.$golden-default;
                text-shadow: 2px 2px 5px vb.$black-low-opacity;
            }
        }
    }
    
}